################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Clash-of-Clans/proj.win32
/Clash-of-Clans/cocos2d


/Clash-of-Clans/proj.win32/.vs/Clash-of-Clans/CopilotIndices/17.14.1518.61961/CodeChunks.db
